/*==========================================*/
/* MSU DENVER COLORS ====================== */
.black{ color: black; }
.blue{ color: #00447c; }
.red{ color: #d11242; }
.grey{ color: #717073; }
.white{ color: white; }

/*==========================================*/
/* GLOBAL SETTINGS ======================== */
.reveal a{
  text-decoration: none;
  color:steelblue;
  transition
}

.reveal blockquote {
  padding-left: 50px;
  padding-right: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  font-size: 75%;
  font-style: normal;
  text-align: justify;
  background-color:rgba(211, 211, 211, 0.2); 
  box-shadow: 0px 0px 20px rgba(42, 84, 169, 0.2)
}

/*==========================================*/
/* SLIDES DESIGNS ========================= */
.cover {
  background-color:#00447c;
}

.sub-section {
  color:white;
}

.sub-section body {background-color:#717073 ;}

/*==========================================*/
/* TWO COLUMN CLASSES ===================== */

.left{
  padding-left: 5%;
  left:20%;
  text-align: left;
  float: left;
  width:45%;
}

.left h2{
  font-size:100%; color:black}

.left h3{
  font-size:75%; color:black}

/*.left h2:last-of-type, .left h3:last-child {color:#717073;}*/

.left h3:last-child {color:black;}

.right {
  left:20%;
  float: right;
  text-align: left;
  width:45%;
}
*/

/*==========================================*/
/* ONE COLUMN CLASSES ===================== */
 
.head_1 {
  float:initial;
  text-align: center;
}

.head_1 h3 {
  font-size:100%;
  text-align:center;
  color:black;
}

.head_2 {
  float:center;
  text-align: center;
  font-size: 75%;
  border-bottom: solid
}

.head_2 h3{
  font-size:100%;
}

.text {
  float:initial;
  text-align:center;
  font-size:75%;
}